<h1>All Posts</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Status</th>
        <th>Category</th>
        <th>Allows Comments</th>
        <th>Date Created</th>
    </tr>
    </thead>
    <tbody>
    {{#each posts}}
        <tr>
            <td>{{_id}}</td>
            <td class="table-image w-25">
                <img src="/uploads/{{file}}" class="img-fluid" alt="Article's thumbnail">
            </td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td>{{generateTime date 'MMMM Do YYYY'}}</td>
            <td><a href="/admin/posts/edit/{{_id}}" class="btn btn-info">Edit</a></td>
            <td>
                <form action="/admin/posts/{{_id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>

            </td>
        </tr>
    {{/each}}
    </tbody>
</table>